---
const { image, title, description, technologies } = Astro.props as {
  image: string;
  title: string;
  description: string;
  technologies: Technologies[];
};
---

<figure class="project flex h-full w-fit flex-col justify-between rounded-xl border border-slate-900 p-8" data-title={title.toLowerCase()}>
  <span>
    <img src={image} alt={title} class="object-cover" />
    <figcaption class="mt-4 cursor-default">
      <h4 class="text-2xl font-bold">{title}</h4>
      <h5 class="mt-2 max-h-20 overflow-y-auto pr-1 text-sm">{description}</h5>
    </figcaption>
  </span>
  <a href={`/projects/${title.toLowerCase().replace(" ", "-")}`} class="mt-6 flex justify-center gap-1 rounded-lg bg-slate-800 py-3 text-center text-white transition-all duration-300 ease-in-out lg:hover:bg-slate-700">
    See More
  </a>
</figure>