---
import { getCollection } from "astro:content";
import Main from "@/layouts/main.astro";

const posts = await getCollection("articles").then((posts) => posts.sort((a, b) => a.data.date > b.data.date ? -1 : 1));
---

<Main title="Blog" description="">
  <section class="mx-auto mt-20 text-justify">
    <h2 class="text-4xl font-bold">Blog</h2>
    <br />
    <em>
      All the noise in my brain, I pinned it to the lawn to keep it quiet.
    </em>
  </section>
  <section class="mt-10">
    {posts.map((post) => (
      <article class="py-10 border-slate-900 border-b first:border-t">
        <h3 class="text-2xl font-bold">{post.data.title}</h3>
        <div class="flex items-center mt-2 gap-8">
          <h5 class="text-sm text-gray-500 flex items-center gap-2">
            <i class="fa-solid fa-calendar" />
            {post.data.date}
          </h5>
          <h5 class="text-sm text-gray-500 flex items-center gap-2">
            <i class="fa-solid fa-clock" />
            {post.data.reading_time} mins
          </h5>
        </div>
        <h4 class="my-2">{post.data.description}</h4>
        <a
          href={`/blog/${post.slug}`}
          class="flex items-center gap-1 text-blue-500 transition-all duration-300 ease-in-out hover:text-blue-700"
        >
          Read more <sup class="fa fa-external-link" />
        </a>
      </article>
    ))}
  </section>
</Main>