---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";

const { title, description } = Astro.props as { title: string; description: string };
const social_media = [
  { href: "https://www.linkedin.com/in/rafiabiyyuairlangga/", icon: "fa-brands fa-linkedin" },
  { href: "https://github.com/a6iyyu", icon: "fa-brands fa-github" },
  { href: "https://www.instagram.com/a6iyyu/", icon: "fa-brands fa-instagram" },
  { href: "mailto:mizukinako7@gmail.com", icon: "fa fa-envelope" },
];
---

<html lang="en" class="scroll-py-2.5 max-[8192px]:opacity-0 max-[3120px]:m-0 max-[3120px]:box-border max-[3120px]:p-0 max-[3120px]:[font-family:'Plus_Jakarta_Sans',Times,sans-serif,serif] max-[3120px]:opacity-100 max-[324px]:hidden">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta property="og:image" content="/rafi-abiyyu-airlangga.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="description" content={`${description}`} />
    <meta name="og:title" content={`${title} - Rafi Abiyyu Airlangga`} />
    <meta name="og:description" content={`${description}`} />
    <meta name="og:image" content="" />
    <meta name="twitter:title" content={`${title} - Rafi Abiyyu Airlangga`} />
    <meta name="twitter:description" content={`${description}`} />
    <meta name="twitter:image" content="/rafi-abiyyu-airlangga.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Rafi Abiyyu Airlangga</title>
    <link rel="icon" href="/rafi-abiyyu-airlangga.jpeg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <ClientRouter />
  </head>
  <body class="mx-auto min-h-screen w-4/5 max-w-[1440px] overflow-x-hidden bg-gradient-to-tl from-[#f9f8f3] to-[#e5e5e5] text-justify lg:w-3/5">
    <header class="mx-auto flex items-center justify-between py-6 font-bold">
      <a href="/" class="text-sm md:text-2xl">a6iyyu</a>
    </header>
    <slot />
    <footer class="mx-auto mt-20 mb-6 cursor-default text-center font-bold">
      <h6>Rafi Abiyyu Airlangga</h6>
      <span class="mt-4 flex items-center justify-center gap-6 text-slate-900">
        {["Articles", "Projects", "Other Stuff"].map((item) => (
          <a href={`/${item.toLowerCase().replace(" ", "-")}`} class="transition-all duration-300 ease-in-out lg:hover:text-slate-500 lg:hover:underline">
            {item}
          </a>
        ))}
      </span>
      <span class="mx-auto w-fit grid grid-cols-4 gap-6 mt-6 text-2xl">
        {social_media.map(({ href, icon }) => (
          <a href={href} target="_blank" class={`${icon} transition-all duration-300 ease-in-out lg:hover:text-slate-500`} />
        ))}
      </span>
    </footer>
  </body>
</html>