---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content="" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <style>
      @media screen and (max-width: 8192px) {
        * {
          opacity: 0;
        }
      }
      @media screen and (max-width: 3120px) {
        * {
          box-sizing: border-box;
          font-family: "Plus Jakarta Sans", Times, sans-serif, serif;
          margin: 0;
          opacity: 1;
          padding: 0;
        }
        ::-webkit-scrollbar {
          display: none !important;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: #fff !important;
        }
      }
      @media screen and (max-width: 324px) {
        * {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>