---
const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scroll-py-2.5 max-[8192px]:opacity-0 max-[3120px]:opacity-100 max-[3120px]:m-0 max-[3120px]:p-0 max-[3120px]:box-border max-[3120px]:[font-family:'Plus_Jakarta_Sans',Times,sans-serif,serif] max-[324px]:hidden"
>
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta property="og:image" content="/rafi-abiyyu-airlangga.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="description" content={description} />
    <meta name="og:title" content={`${title} - Rafi Abiyyu Airlangga`} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content="" />
    <meta name="twitter:title" content={`${title} - Rafi Abiyyu Airlangga`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/rafi-abiyyu-airlangga.jpeg" />
    <title>{title} - Rafi Abiyyu Airlangga</title>
    <link rel="icon" href="/rafi-abiyyu-airlangga.jpeg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com" />
    <style is:global>
      @media screen and (max-width: 3120px) {
        ::-webkit-scrollbar {
          display: none;
        }
      }
    </style>
  </head>
  <body class="mx-auto overflow-x-hidden min-h-screen w-4/5 max-w-[1440px] bg-gradient-to-tl from-[#f9f8f3] to-[#e5e5e5] lg:w-3/5">
    <header class="mx-auto py-6 flex items-center justify-between font-bold">
      <a href="/" class="text-2xl">a6iyyu</a>
      <button
        onclick="window.open('/cv.pdf', '_blank')"
        class="flex bg-slate-800 text-slate-50 items-center gap-4 px-6 py-3.5 rounded-lg transition-all duration-300 ease-in-out hover:bg-slate-700"
      >
        <i class="fa-solid fa-download" />
        <h4>Unduh CV</h4>
      </button>
    </header>
    <slot />
    <footer class="mb-6 mt-20 mx-auto cursor-default text-center font-bold">
      <h6>Rafi Abiyyu Airlangga</h6>
      <span class="flex items-center mt-4 gap-6 justify-center text-slate-900">
        <a href="/blog" class="hover:text-slate-500 hover:underline transition-all duration-300 ease-in-out">
          Blog
        </a>
        <a href="/contact" class="hover:text-slate-500 hover:underline transition-all duration-300 ease-in-out">
          Contact
        </a>
        <a href="/other-stuff" class="hover:text-slate-500 hover:underline transition-all duration-300 ease-in-out">
          Other Stuff
        </a>
      </span>
      <span class="mx-auto w-fit grid grid-cols-4 gap-6 mt-6 text-2xl">
        <a
          href="https://www.linkedin.com/in/rafiabiyyuairlangga/"
          target="_blank"
          class="fa-brands fa-linkedin transition-all duration-300 ease-in-out hover:text-slate-500"
        />
        <a
          href="https://github.com/a6iyyu"
          target="_blank"
          class="fa-brands fa-github transition-all duration-300 ease-in-out hover:text-slate-500"
        />
        <a
          href="https://www.instagram.com/a6iyyu/"
          target="_blank"
          class="fa-brands fa-instagram transition-all duration-300 ease-in-out hover:text-slate-500"
        />
        <a
          href="mailto:mizukinako7@gmail.com"
          target="_blank"
          class="fa fa-envelope transition-all duration-300 ease-in-out hover:text-slate-500"
        />
      </span>
    </footer>
  </body>
</html>